[submodule "embedded/LiquidCrystalIO"]
	path = embedded/LiquidCrystalIO
	url = https://github.com/TcMenu/LiquidCrystalIO.git
[submodule "embedded/IoAbstraction"]
	path = embedded/IoAbstraction
	url = https://github.com/TcMenu/IoAbstraction.git
[submodule "embedded/tcMenu"]
	path = embedded/tcMenu
	url = https://github.com/TcMenu/tcMenuLib.git
[submodule "embedded/TaskManagerIO"]
	path = embedded/TaskManagerIO
	url = https://github.com/TcMenu/TaskManagerIO.git
