[submodule "embedded/IoAbstraction"]
	path = embedded/IoAbstraction
	url = https://github.com/davetcc/IoAbstraction.git
[submodule "embedded/LiquidCrystalIO"]
	path = embedded/LiquidCrystalIO
	url = https://github.com/davetcc/LiquidCrystalIO.git
