[submodule "embedded/LiquidCrystalIO"]
	path = embedded/LiquidCrystalIO
	url = https://github.com/davetcc/LiquidCrystalIO.git
[submodule "embedded/IoAbstraction"]
	path = embedded/IoAbstraction
	url = https://github.com/davetcc/IoAbstraction.git
[submodule "embedded/tcMenu"]
	path = embedded/tcMenu
	url = https://github.com/davetcc/tcMenuLib.git
[submodule "embedded/TaskManagerIO"]
	path = embedded/TaskManagerIO
	url = https://github.com/davetcc/TaskManagerIO.git
