name: Test

on:
  push:
  pull_request:
    branches: [ "main" ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'liberica'
        cache: maven

    - name: Build and test tcMenuJavaApi
      run: mvn -B install -Dgpg.skip=true --file tcMenuJavaApi/pom.xml
  
    - name: Build and test embedCONTROLCore
      run: mvn -B install -Dgpg.skip=true --file embedCONTROLCore/pom.xml

    - name: Build and test tcMenuGenerator
      run: mvn -B install -Dgpg.skip=true --file tcMenuGenerator/pom.xml
